@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  box-sizing: border-box;
}

#root{
  	background: #f6f5f7;
	font-family: "Poppins", sans-serif;
	height: 97vh;

	--light-color: #F6F4EB;
	--pastel-color: #D7D4B9;
  	--blue-color: #91C8E4;
  	--blue2-color: #749BC2;
	--blue3-color: #4682A9;
	--orange-color: #D7693C;
	--dark-color: #282828;
	--logo-color: #2C94D9;
	--background-color: #f6f5f7;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
	font-family: "Poppins", sans-serif;
}

h3 {
	font-family: "Poppins", sans-serif;
	text-align: center;
	font-weight: bold;
	margin: 0;
	padding-bottom: 5px;
}

span {
	font-size: 0.9em;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid var(--blue2-color);
	background-color: var(--blue2-color);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	font-family: "Poppins", sans-serif;
	padding: 12px 45px;
	margin: 15px 0;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

button:hover {
	background-color: #5780aa;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}



.container-index {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 60%;
	max-width: 100%;
	min-height: 525px;

	h1 {
		font-weight: bold;
		margin: 0;
	}

	button {
		border-radius: 20px;
		border: 1px solid var(--blue2-color);
		background-color: var(--blue2-color);
		color: #FFFFFF;
		font-size: 12px;
		font-weight: bold;
		font-family: "Poppins", sans-serif;
		padding: 12px 45px;
		margin: 15px 0;
		letter-spacing: 1px;
		text-transform: uppercase;
		transition: transform 80ms ease-in;
	}
	
	button:active {
		transform: scale(0.95);
	}
	
	button:focus {
		outline: none;
	}
	
	button.ghost {
		background-color: transparent;
		border-color: #FFFFFF;
	}
	
	button:hover {
		background-color: #5780aa;
	}
	
	form {
		background-color: #FFFFFF;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 50px;
		height: 100%;
		text-align: center;
	}
	
	input {
		background-color: #eee;
		border: none;
		padding: 12px 15px;
		margin: 8px 0;
		width: 100%;
	}

}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.login-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container-index.right-panel-active .login-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container-index.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container-index.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: var(--blue2-color);
	background: -webkit-linear-gradient(to right, var(--blue3-color), var(--blue2-color));
	background: linear-gradient(to right, var(--blue3-color), var(--blue2-color));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container-index.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container-index.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.click-link{
	cursor: pointer;
	color: #4682A9;
}

.App, .container-initial-generic{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/*----------------
Forgot Password
-----------------*/

.container-fg{
	display: flex;
	justify-content: center;
    align-items: center;
	flex-direction: column;
	width: 40%;
}

/*----------------
Pending Account Message
-----------------*/

.text-container{
	text-align: left;
	font-size: 0.9em;
	padding: 0 60px;
}

/*----------------
Categories
-----------------*/

.categories{
	display: flex;
	justify-content: space-between;

}

.container-index.right-panel-active.overlay-right {
	transform: translateX(20%);
}

.categories-table-container{
	flex: 2;
	height: 78vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
    max-height: 78vh;

	.categories-table{
		width: 55%;
	}
}

.container-addCategoriesForm {
	
	max-width: 22%;
	overflow: hidden;
	transition: max-width 0.5s ease-in-out;
	position: relative; 
	display: flex;
	flex-direction: column;
	align-items: end;

	span{
		cursor: pointer;
	}

	button{ 
		cursor: pointer;
	}
}


/*----------------
Profile Edit
-----------------*/

.edit-profile-body{
	
	display: flex;
	justify-content: center;
	align-items: center;
	height: 78vh;
}

.edit-profile-container{
	width: 40%;
}

.edit-profile-container form{
	padding: 6px;
	border-radius: 5px;
}

.edit-profile-body form input{
	width: 70%;
}

.editProfile-buttons-container{
	display: flex;
	flex-direction: column;
}

.editProfile-buttons-container button{
	cursor: pointer;
}

/*--------------------
Modal
--------------------*/

.react-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    width: 30%; /* Adjust width as needed */
}

.react-modal h2 {
    margin-bottom: 20px;
}

.react-modal form {
    margin-bottom: 20px;
}

.react-modal input {
    width: calc(100% - 20px); /* Adjust width as needed */
    padding: 10px;
    margin-bottom: 10px;
}

.react-modal button {
    border-radius: 20px;
	border: 1px solid var(--blue2-color);
	background-color: #749BC2;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	font-family: "Poppins", sans-serif;
	padding: 12px 45px;
	margin: 15px 0;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
}

.react-modal button:active {
	transform: scale(0.95);
}

.react-modal button:focus {
	outline: none;
}

.react-modal button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.react-modal button:hover {
	background-color: #5780aa;
}

/*--------------------
Home
--------------------*/


.container-home{
	display: flex;
}

.sidebar-active .scrum-board-container {
    transition: width 0.3s ease;
    width: calc(100% - 10%);
}

.sidebar-inactive .scrum-board-container {
    transition: width 0.3s ease;
    width: 100%;
}

.scrum-board-container.scrum-board-expanded {
    transition: width 0.3s ease;
    width: calc(100% - 10%);
}


/*---------
USERS PAGE
---------*/

.container-users{
	display: flex;
	overflow-y: auto;
}

.sidebar-active .table-container {
    transition: width 0.3s ease;
    width: calc(100% - 10%);
}

.sidebar-inactive .table-container {
    transition: width 0.3s ease;
    width: 100%;
}

.table-container.table-expanded {
    transition: width 0.3s ease;
    width: calc(100% - 10%);
}

.users-container{
    display: flex;
	justify-content: center;
    align-items: center;
	height: 78vh;
	max-height: 78vh;
    padding: 20px;
	
}

.table-container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	max-height: 80vh;
	padding-left: 7%;
}

/*------------
Register Page
------------*/


.container-register{
	display: flex;
    justify-content: center;
    align-items: center;
    height: 78vh;
    max-height: 78vh;
    padding: 20px;
	position: relative;

	.add-new-user-container{
		display: flex;
        justify-content: center;
        align-items: center;
		position: absolute;
    	

		form {
			background-color: #ffffff;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 0 50px;
			height: inherit;
			text-align: center;
		}

    }

}

/*------------
Modal Info Tasks
------------*/

.modal {
	position: fixed; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	z-index: 1000; 
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	padding: 20px;
	max-width: 80%;
	max-height: 80%;
	overflow-y: auto; 
  }

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Cor escura do fundo */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000; /* Garante que o overlay esteja na frente de outros elementos */
  }
  
  .close {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 24px;
	color: black;
  }
  
  .modalInfo-content {
	position: relative;

	h2{
		margin-bottom: 15px;
	}
  }

  .modal-info-container{
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
  }


  .info-container {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 20px;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    width: 350px;
}

.info-container::after {
    content: '';
    display: block;
    border-bottom: 2px solid #4a4a4a4f; 
    width: 80%;
    margin-top: 10px; 
}

.select-filter-container{
	padding-top: 30px;
	display: flex;
    justify-content: space-between;
	width: min-content;
}
  

  select {
    margin: 12px 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 7px;

	option{
		cursor: pointer;
	}
  }


/*---------------
Profile Page
---------------*/

.profile-info-body{
display: flex;

align-items: center;
}

.profile-info-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: -moz-fit-content;
	padding-left: 70px;
  	width: 100vw;

	.profile-container-left{
		display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 50px;
        height: 100%;
        text-align: center;

		.photo-info-container{
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			width: 17em;
			height: 17em;
			border-radius: 50%;
			
			img{
				width: 100%;
                height: 100%;
                object-fit: cover;
			}
		}

		.init-chat-bar{
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			height: 50px;
			background-color: var(--logo-color);
			border-radius: 10px;
			margin-top: 20px;
			color: #eee;
			transition: background-color 0.1s ease;
		}

		.init-chat-bar:hover{
			background-color: #2883bf;
			cursor: pointer;
		}

		.init-chat-bar:active {
			background-color: #2270a3;
		  }
	}

	.profile-statistics-container{
		display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 50px;
        height: 100%;

		
	}
}

/*---------------
Chat
---------------*/

.message-list{
	height: 66vh;
	overflow: auto;
}

.chat-input{
	padding-left: 10px;
}

.send-message-button{
	background-color: var(--logo-color);
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}


/*---------------
Dashboard
---------------*/

.dashboard-container{
	height: 100%;
	background-color: var(--background-color);

	.container {
		width: 100%;
		padding: 0 20px;
	}
	
	.row1 {
		display: flex;
		flex-wrap: wrap;
		height: 250px;
		width: 100%;
		border-bottom: #53b4e4a3 solid;
	}

	.row2 {
		display: flex;
		flex-wrap: wrap;
		padding: 0 20px 40px;
		margin: 10px 0;
		max-height: 200px;
		width: 100%;
		border-bottom: #53b4e4a3 solid;
	}

	.row3 {
		display: flex;
		flex-wrap: wrap;
		padding: 10px 20px;
		height: 500px;
		width: 100%;
		border-bottom: #53b4e4a3 solid;
	}

	.row4 {
		display: flex;
		flex-wrap: wrap;
		padding: 10px 20px;
		margin: 10px 0 40px 0;
		height: 400px;
		width: 100%;
	}
	
	.col {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 1 0 0%;
		max-width: 100%;
		padding: 15px 0;

		.stat-number{
			background-color: var(--orange-color);
			color: var(--background-color);
			padding: 1.5em;
			border-radius: 50%;
			font-size: 1.5em;
			width: 100px;
			height: 100px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 10px;
		}
	}
}


.stat-container{
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 200px;
	background-color: #f0edec98;
	padding: 2px;
}

.number-stat-container{
	display: flex;
    align-items: center;
    flex-direction: column;
    height: 100;
    background-color: #D7693C;
    padding: 2px;
}

.line-stat-container{
	display: flex;
    align-items: center;
    flex-direction: column;
    height: 400px;
    background-color: #ffffff29;
    padding: 2px;

}

.bar-stat-container{
	display: flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
    background-color: #f8ff28;
    padding: 2px 0 100px 0;
}

